
.outerBox{
    margin-top: 32px;
    margin-left:35%;
    width: 30%;
    display: flex;
    height: 88.9vh;
    flex-direction: column;
}

.logoContainer{
  display: flex;
  align-items: center;
  margin-bottom: 4vh;
}

.logo{
    height:6vh;
    width: 11vw;  
    margin:auto;
}

.error{
    margin-bottom: 5px;
    visibility: hidden;  
}

.login{ 
    border: 2px solid rgb(216, 210, 210);
    border-radius: 20px;
}

.innerdiv{
  margin: 30px;
}

.header{
    font-weight: 400;
}

.welcome{
    margin-left: 5vw;
    color: #2E0052;
    font-weight: 400;
}

.input{
    margin-top: 5px;
    width: 90%;
    height: 4vh;
    margin-bottom: 10px;
    border: 2px solid rgb(216, 210, 210);
    border-radius: 5px;
   outline: none;
}

.label{
    font-weight: 600;
}

.continue{ 
    margin-top: 5px;
    height: 5vh;
    width: 91%;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #2E0052;
    cursor: pointer;
    margin-bottom: 10px;
}

.privacyNotice{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}

.createAccount{
    margin-top: 20px;
    height: 6vh;
    width: 95%;
    color: black;
    border: none;
    border: 2px solid rgb(216, 210, 210);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.newToMusicartConatiner{
    display: flex; 
    margin-top: 30px
}

.newToMusicCart{
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
    text-wrap: nowrap;
    
}

.hr{
    width: 30%;
}

.footer{
    margin-top: auto;
}

@media (max-width: 700px){
    .outerBox{
        margin-top: 10px;
        margin-left:20px;
        width: 90vw;
        display: flex;
        height: 88vh;
        flex-direction: column;
        overflow-x: scroll;
    }

    .welcome{
        margin-left: 1vw;
       font-size: 23px;
       font-weight: 400;
       color:#2E0052 ;
       margin-top: 0;
       margin-bottom: 10px;
    }

    .innerdiv{
        margin: 15px;
        /* margin-left: 8vw; */
    }

    .login{
       border-radius: 10px;
       width: 88vw;
    }

    .input{
        width: 76vw;
    }

    .miniHeader{
        margin-bottom: 20px;
    }

    .label{
        font-size: 15px;
        font-weight: 600;
    }

    .input{
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .continue{
        margin-top: 2px;
        margin-bottom: 10px;
        width: 77vw;
    }


    .signIn{
        font-weight: 500;
    }

    .alreadyCustomer{
        color: gray;
    }

    .newToMusicartConatiner{
        margin-left: 3vw;
    }

    .createAccount{
        margin-left: 2vw;
    }
}