
.sliderContainer{
    width: 80vw;
    height: 40vh;
     margin-left: 3vw; 
    margin-bottom: 30px;
    border: 2px solid #2E0052;
    border-radius: 10px;
}

.imageContainer{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 50vw;
    height: 38vh;
    border-radius: 5px;
    
}
.imageContainer img{
    height: 35vh;
    width: 60vw;
    margin-left: 2vw;
}
